$color-white: #ffffff;
$color-black: #000000;
$color-athens-gray: #F4F5F7;
$color-gray: #939393;
$color-alto: #DADADA;
$color-iron: #DCDEE0;
$color-silver: #CBCBCB;
$color-danube: #5E97D1;
$color-steel-blue: #407FC0;
$color-mercury: #E8E8E8;

$primary-background-color: $color-athens-gray;
$primary-color: $color-black;