$color-athens-gray: #F4F5F7;
$color-white: #ffffff;
$color-black: #000000;
$color-danube: #5E97D1;
$color-steel-blue: #407FC0;

$primary-background-color: $color-athens-gray;
$primary-color: $color-black;