h1{
    font-size: 28px;
    line-height: 44px;
    @include breakpoint(small) {
        font-size: 38px;
    }
    @include breakpoint(medium) {
        font-size: 51px;
    }
}
h2{
    font-size: 21px;
    @include breakpoint(small) {
        font-size: 28px;
    }
    @include breakpoint(medium) {
        font-size: 38px;
    }
}