.component-product{
    display: flex;
    flex-direction: column;
    @include breakpoint(small) {
        flex-direction: row;
    }
    .product-info{
        padding: 24px;
        width: 100%;
    }
    .product-description{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        @include breakpoint(medium) {
            margin-bottom: 27px;
        }
    }
    .product-price{
        font-size: 16px;
        @include breakpoint(small) {
            font-size: 21px;
        }
    }
    .product-inventory{
        text-transform: uppercase;
        color: $color-gray;
        font-size: 12px;
        margin-bottom: 26px;
    }

    .product-item-image-wrapper{
        @include breakpoint(small) {
            max-width: 40.71%;
            max-height: 282px;
        }
    }

    img{
        max-width: 100%;
        @include breakpoint(small) {
            object-fit: cover;
        }
    }
}